<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ecommers</title>
    </head>

    <body>
        <nav class="navbar"></nav>

        <section id="Home" class="hero"></section>

        <section id="about" class="about"></section>

        <section id="menu" class="menu"></section>

        <section class="products" id="products"></section>

        <section id="contact" class="contact"></section>

        <footer>
            <div class="socials">
                <a href="#"> <id data-feather="instagram"></id></a>
                <a href="#"> <id data-feather="twitter"></id></a>
                <a href="#"> <id data-feather="facebook"></id></a>
            </div>

            <div class="links">
                <a href="#home">Home</a>
                <a href="#about">Tentang Kami</a>
                <a href="#menu">Menu</a>
                <a href="#contact">Kontak</a>
            </div>

            <div class="credit">
                <p>Created by <a href="">Amelia Sari</a>. | &copy; 2024.</p>
            </div>
        </footer>
    </body>

</html>
